* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

nav {
  display: flex;
  gap: 10rem;
  padding: 2rem 5rem;
}

ul {
  display: flex;
  list-style: none;
  gap: 7rem;
}

li {
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
}

li * {
  color: black;
  text-decoration: none;
}
